In [1]:
import pandas as pd

df = pd.read_csv('./transfermarkt/clubs.csv', encoding='UTF-8')

In [2]:
df.head()

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,url
0,105,sv-darmstadt-98,SV Darmstadt 98,L1,NaN,27,25.9,11,40.7,1,Merck-Stadion am Böllenfalltor,17500,€-1.60m,NaN,2023,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,NaN,25,27.3,12,48.0,1,Yekaterinburg Arena,23000,€-570k,NaN,2023,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Besiktas JK,TR1,NaN,34,25.2,14,41.2,12,Beşiktaş Park,42590,€-3.75m,NaN,2023,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,AS Roma,IT1,NaN,22,26.5,14,63.6,15,Olimpico di Roma,73261,+€71.00m,NaN,2023,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur,GB1,NaN,33,25.4,23,69.7,19,Tottenham Hotspur Stadium,62062,€-82.00m,NaN,2023,https://www.transfermarkt.co.uk/tottenham-hots...

In [3]:
df = df.drop(columns=['total_market_value'])
df.head()

,club_id,club_code,name,domestic_competition_id,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,url
0,105,sv-darmstadt-98,SV Darmstadt 98,L1,27,25.9,11,40.7,1,Merck-Stadion am Böllenfalltor,17500,€-1.60m,NaN,2023,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,25,27.3,12,48.0,1,Yekaterinburg Arena,23000,€-570k,NaN,2023,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Besiktas JK,TR1,34,25.2,14,41.2,12,Beşiktaş Park,42590,€-3.75m,NaN,2023,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,AS Roma,IT1,22,26.5,14,63.6,15,Olimpico di Roma,73261,+€71.00m,NaN,2023,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur,GB1,33,25.4,23,69.7,19,Tottenham Hotspur Stadium,62062,€-82.00m,NaN,2023,https://www.transfermarkt.co.uk/tottenham-hots...

In [4]:
df = df.drop(columns=['club_code','squad_size','average_age','foreigners_number','foreigners_percentage','national_team_players','stadium_seats','url'])
df.head()

,club_id,name,domestic_competition_id,stadium_name,net_transfer_record,coach_name,last_season
0,105,SV Darmstadt 98,L1,Merck-Stadion am Böllenfalltor,€-1.60m,NaN,2023
1,11127,Ural Yekaterinburg,RU1,Yekaterinburg Arena,€-570k,NaN,2023
2,114,Besiktas JK,TR1,Beşiktaş Park,€-3.75m,NaN,2023
3,12,AS Roma,IT1,Olimpico di Roma,+€71.00m,NaN,2023
4,148,Tottenham Hotspur,GB1,Tottenham Hotspur Stadium,€-82.00m,NaN,2023

In [5]:
df_small = df[(df.domestic_competition_id == "FR1") | (df.domestic_competition_id == "TR1") | (df.domestic_competition_id == "GB1") | (df.domestic_competition_id == "IT1") | (df.domestic_competition_id == "L1") | (df.domestic_competition_id == "ES1")]
df_small.head()

,club_id,name,domestic_competition_id,stadium_name,net_transfer_record,coach_name,last_season
0,105,SV Darmstadt 98,L1,Merck-Stadion am Böllenfalltor,€-1.60m,NaN,2023
2,114,Besiktas JK,TR1,Beşiktaş Park,€-3.75m,NaN,2023
3,12,AS Roma,IT1,Olimpico di Roma,+€71.00m,NaN,2023
4,148,Tottenham Hotspur,GB1,Tottenham Hotspur Stadium,€-82.00m,NaN,2023
9,19789,Yeni Malatyaspor,TR1,Yeni Malatya Stadyumu,+€778k,NaN,2021

In [6]:
df_small = df_small.drop(columns="coach_name")

In [7]:
df_small.to_csv('./transfermarkt_cleaned/clubs.csv', encoding="UTF-8", header=True, index=False)

This part is going to be players

In [8]:
df_clubs = df_small

df_players = pd.read_csv('./transfermarkt/players.csv', encoding='UTF-8')
df_players.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
0,598,Timo,Hildebrand,Timo Hildebrand,2014,24,timo-hildebrand,Germany,Worms,Germany,...,NaN,NaN,NaN,10000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/timo-hildebran...,L1,Eintracht Frankfurt
1,670,Martin,Petrov,Martin Petrov,2012,714,martin-petrov,Bulgaria,Vratsa,Bulgaria,...,NaN,NaN,NaN,12000000.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-petrov/...,ES1,RCD Espanyol Barcelona
2,1323,Martin,Amedick,Martin Amedick,2012,24,martin-amedick,Germany,Paderborn,Germany,...,NaN,NaN,NaN,2750000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-amedick...,L1,Eintracht Frankfurt
3,3195,Jermaine,Pennant,Jermaine Pennant,2013,512,jermaine-pennant,England,Nottingham,England,...,right,173.0,NaN,10500000.0,NaN,Andrew Sky,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/jermaine-penna...,GB1,Stoke City
4,3259,Damien,Duff,Damien Duff,2013,931,damien-duff,Ireland,Ballyboden,Ireland,...,left,177.0,NaN,17000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/damien-duff/pr...,GB1,Fulham FC

In [9]:
df_players = df_players[df_players['current_club_id'].isin(df_clubs['club_id'])]
df_players.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
0,598,Timo,Hildebrand,Timo Hildebrand,2014,24,timo-hildebrand,Germany,Worms,Germany,...,NaN,NaN,NaN,10000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/timo-hildebran...,L1,Eintracht Frankfurt
1,670,Martin,Petrov,Martin Petrov,2012,714,martin-petrov,Bulgaria,Vratsa,Bulgaria,...,NaN,NaN,NaN,12000000.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-petrov/...,ES1,RCD Espanyol Barcelona
2,1323,Martin,Amedick,Martin Amedick,2012,24,martin-amedick,Germany,Paderborn,Germany,...,NaN,NaN,NaN,2750000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-amedick...,L1,Eintracht Frankfurt
3,3195,Jermaine,Pennant,Jermaine Pennant,2013,512,jermaine-pennant,England,Nottingham,England,...,right,173.0,NaN,10500000.0,NaN,Andrew Sky,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/jermaine-penna...,GB1,Stoke City
4,3259,Damien,Duff,Damien Duff,2013,931,damien-duff,Ireland,Ballyboden,Ireland,...,left,177.0,NaN,17000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/damien-duff/pr...,GB1,Fulham FC

In [10]:
df_players = df_players[['player_id','name','last_season','current_club_id','height_in_cm','market_value_in_eur','highest_market_value_in_eur']]
df_players.head()

,player_id,name,last_season,current_club_id,height_in_cm,market_value_in_eur,highest_market_value_in_eur
0,598,Timo Hildebrand,2014,24,NaN,NaN,10000000.0
1,670,Martin Petrov,2012,714,NaN,NaN,12000000.0
2,1323,Martin Amedick,2012,24,NaN,NaN,2750000.0
3,3195,Jermaine Pennant,2013,512,173.0,NaN,10500000.0
4,3259,Damien Duff,2013,931,177.0,NaN,17000000.0

In [18]:
df_players = df_players[df_players['last_season'] == 2022]

In [19]:
df_players.to_csv('./transfermarkt_cleaned/players.csv', header=True, encoding='UTF-8', index=False)

Player valuations part

In [20]:
df_valuations = pd.read_csv('./transfermarkt/player_valuations.csv', encoding='UTF-8')
df_valuations.head()

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,n,current_club_id,player_club_domestic_competition_id
0,3132,2013,2003-12-09 00:00:00,2003-12-09,2003-12-08,400000,1,126,TR1
1,6893,2012,2003-12-15 00:00:00,2003-12-15,2003-12-15,900000,1,984,GB1
2,10,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,7000000,1,398,IT1
3,26,2017,2004-10-04 00:00:00,2004-10-04,2004-10-04,1500000,1,16,L1
4,65,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,8000000,1,1091,GR1

In [21]:
df_valuations = df_valuations[['player_id','last_season','date','market_value_in_eur','current_club_id']]
df_valuations.head()

   player_id  last_season        date  market_value_in_eur  current_club_id
0       3132         2013  2003-12-09               400000              126
1       6893         2012  2003-12-15               900000              984
2         10         2015  2004-10-04              7000000              398
3         26         2017  2004-10-04              1500000               16
4         65         2015  2004-10-04              8000000             1091

In [22]:
df_valuations = df_valuations[df_valuations['player_id'].isin(df_players['player_id'])]
df_valuations.head()

     player_id  last_season        date  market_value_in_eur  current_club_id
122       2857         2022  2004-10-04               100000               29
186       3333         2022  2004-10-04              7500000               31
203       3455         2022  2004-10-04             22000000                5
449       5578         2022  2004-10-04               600000             1421
688       7663         2022  2004-10-04             13500000              150

In [23]:
df_valuations.to_csv('./transfermarkt_cleaned/valuation.csv', header=True, encoding='UTF-8', index=False)

Now the other parts

In [24]:
df_games = pd.read_csv('./transfermarkt/games.csv', encoding='UTF-8')
df_games.head()

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,url,home_club_name,away_club_name,aggregate,competition_type
0,2222597,RU1,2012,6. Matchday,2012-08-25,3725,232,2,1,2.0,...,Stanislav Cherchesov,Unai Emery,Akhmat-Arena,21700.0,Vladislav Bezborodov,https://www.transfermarkt.co.uk/terek-grozny_s...,Akhmat Grozny,Spartak Moscow,2:1,domestic_league
1,2222627,RU1,2012,5. Matchday,2012-08-20,2696,4128,0,2,11.0,...,Andrey Kobelev,Rustem Khuzin,Metallurg,11400.0,Sergey Ivanov,https://www.transfermarkt.co.uk/krylya-sovetov...,Krylya Sovetov Samara,Amkar Perm,0:2,domestic_league
2,2222658,RU1,2012,10. Matchday,2012-09-30,2410,121,0,2,2.0,...,Leonid Slutski,Dan Petrescu,Arena Khimki,12000.0,Sergey Karasev,https://www.transfermarkt.co.uk/cska-moscow_di...,CSKA Moscow,Dynamo Moscow,0:2,domestic_league
3,2222664,RU1,2012,8. Matchday,2012-09-15,932,2698,1,0,5.0,...,Slaven Bilic,Kurban Berdyev,RZD Arena,11408.0,Sergey Karasev,https://www.transfermarkt.co.uk/lokomotiv-mosc...,Lokomotiv Moscow,Rubin Kazan,1:0,domestic_league
4,2222683,RU1,2012,12. Matchday,2012-10-22,2696,12438,0,1,11.0,...,Andrey Kobelev,Gadzhi Gadzhiev,Metallurg,7534.0,Timur Arslanbekov,https://www.transfermarkt.co.uk/krylya-sovetov...,Krylya Sovetov Samara,Volga Nizhniy Novgorod (- 2016),0:1,domestic_league

In [26]:
df_games = df_games[(df_games['home_club_id'].isin(df_clubs['club_id'])) | (df_games['away_club_id'].isin(df_clubs['club_id']))]
df_games.head()

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,home_club_manager_name,away_club_manager_name,stadium,attendance,referee,url,home_club_name,away_club_name,aggregate,competition_type
28,2223859,FR1,2012,8. Matchday,2012-10-06,1082,1147,2,0,10.0,...,Rudi Garcia,Alex Dupont,Decathlon Arena-Stade Pierre-Mauroy,39375.0,Lionel Jaffredo,https://www.transfermarkt.co.uk/losc-lille_ac-...,LOSC Lille,AC Ajaccio,2:0,domestic_league
29,2223876,FR1,2012,5. Matchday,2012-09-16,1159,244,0,1,17.0,...,Jean Fernandez,Élie Baup,Stade Marcel-Picot,18257.0,Philippe Kalt,https://www.transfermarkt.co.uk/as-nancy-lorra...,AS Nancy-Lorraine,Olympique Marseille,0:1,domestic_league
30,2223890,FR1,2012,4. Matchday,2012-09-02,1082,583,1,2,11.0,...,Rudi Garcia,Carlo Ancelotti,Decathlon Arena-Stade Pierre-Mauroy,32707.0,Ruddy Buquet,https://www.transfermarkt.co.uk/losc-lille_par...,LOSC Lille,Paris Saint-Germain,1:2,domestic_league
31,2223894,FR1,2012,18. Matchday,2012-12-16,583,1041,1,0,1.0,...,Carlo Ancelotti,Rémi Garde,Parc des Princes,44768.0,Antony Gautier,https://www.transfermarkt.co.uk/paris-saint-ge...,Paris Saint-Germain,Olympique Lyon,1:0,domestic_league
32,2223902,FR1,2012,9. Matchday,2012-10-20,273,969,2,1,9.0,...,Frédéric Antonetti,René Girard,Roazhon Park,16087.0,Antony Gautier,https://www.transfermarkt.co.uk/stade-rennais-...,Stade Rennais FC,Montpellier HSC,2:1,domestic_league

In [27]:
df_games.to_csv('./transfermarkt_cleaned/games.csv', header=True, encoding='UTF-8', index=False)

In [28]:
df_appr = pd.read_csv('./transfermarkt/appearances.csv', encoding='UTF-8')
df_appr.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2460589_237947,2460589,237947,11411,16247,2014-07-01,Rumyan Hovsepyan,CLQ,0,0,0,0,90
1,2460503_150846,2460503,150846,4807,2503,2014-07-03,Yoro Ly,ELQ,0,0,0,0,67
2,2460507_136142,2460507,136142,271,862,2014-07-03,Armando Vajushi,ELQ,0,0,0,0,80
3,2460508_153735,2460508,153735,18506,4128,2014-07-03,Marko Simonovski,ELQ,0,0,1,0,90
4,2460509_27017,2460509,27017,10482,3719,2014-07-03,Dmitriy Khomich,ELQ,0,0,0,0,90

In [29]:
df_appr = df_appr[df_appr['player_id'].isin(df_players['player_id'])]
df_appr.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
5,2460511_133829,2460511,133829,420,24245,2014-07-03,Tomislav Glumac,ELQ,0,0,1,0,90
22,2460532_159668,2460532,159668,801,589,2014-07-03,Sam Larsson,ELQ,0,0,0,0,90
31,2460549_133829,2460549,133829,420,24245,2014-07-10,Tomislav Glumac,ELQ,0,0,0,0,90
48,2460572_159668,2460572,159668,801,589,2014-07-10,Sam Larsson,ELQ,0,0,0,0,90
49,2460572_170646,2460572,170646,801,405,2014-07-10,Ludwig Augustinsson,ELQ,0,0,0,0,79

In [30]:
df_appr.to_csv('./transfermarkt_cleaned/appearances.csv', header=True, encoding='UTF-8', index=False)

In [31]:
df_appr['date'] = pd.to_datetime(df_appr['date'])
df_appr_filtered = df_appr[df_appr['date'] > '2023-01-01']
df_appr_filtered.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
1112039,3838274_105470,3838274,105470,31,31,2023-01-02,Alisson,GB1,0,0,0,0,90
1112040,3838274_139208,3838274,139208,31,31,2023-01-02,Virgil van Dijk,GB1,0,0,0,0,45
1112041,3838274_143424,3838274,143424,31,31,2023-01-02,Alex Oxlade-Chamberlain,GB1,0,0,1,0,83
1112042,3838274_148367,3838274,148367,1148,1148,2023-01-02,Christian Nörgaard,GB1,0,0,0,0,90
1112043,3838274_148455,3838274,148455,31,31,2023-01-02,Mohamed Salah,GB1,0,0,0,0,90

In [46]:
df_appr_filtered.to_csv('./transfermarkt_cleaned/appearances.csv', header=True, encoding='UTF-8', index=False)

In [47]:
df_games = df_games[df_games['game_id'].isin(df_appr_filtered['game_id'])]

In [48]:
df_games.to_csv('./transfermarkt_cleaned/games.csv', header=True, encoding='UTF-8', index=False)

In [53]:
df_valuations = df_valuations[df_valuations['player_id'].isin(df_players['player_id'])]
df_valuations.head()

   player_id  last_season        date  market_value_in_eur  current_club_id
0       3132         2013  2003-12-09               400000              126
1       6893         2012  2003-12-15               900000              984
2         10         2015  2004-10-04              7000000              398
3         26         2017  2004-10-04              1500000               16
5         77         2012  2004-10-04             13000000              506

In [54]:
df_valuations.to_csv('./transfermarkt_cleaned/valuations.csv', header=True, encoding='UTF-8', index=False)