In [1]:
import pandas as pd

# Read CSV files
df1 = pd.read_csv('./transfermarkt_cleaned/clubs.csv')
df2 = pd.read_csv('./transfermarkt_cleaned/players.csv')

In [2]:
from sqlalchemy import create_engine

# Create SQLite in-memory database
engine = create_engine('sqlite:///:memory:')

In [3]:
df1.to_sql('clubs', engine, index=False)
df2.to_sql('players', engine, index=False)

13656

In [10]:
query = """
SELECT p.name, c.name AS 'club'
FROM clubs c 
JOIN players p 
ON p.current_club_id = c.club_id
WHERE p.height_in_cm > 201
"""

result = pd.read_sql(query, engine)
print(result)

                      name                   club
0            Marijan Coric      Parma Calcio 1913
1   Vanja Milinković-Savić              Torino FC
2            Lacina Traore              Amiens SC
3                Abdoul Ba                RC Lens
4              Demba Thiam                   SPAL
5             Arda Özcimen                Göztepe
6        Costel Pantilimon            Denizlispor
7           Nurullah Aslan         MKE Ankaragücü
8          Lucas Bergström             Chelsea FC
9              Isaak Touré             AJ Auxerre
10             Vanja Ivesa             Elazigspor
11              Issa Ndoye   SpVgg Greuther Fürth
12             Melih Akyüz              Kasimpasa
13          Simon Lefebvre  FC Girondins Bordeaux